img {
  height: 16px;
}

strong{
  font-weight:bold;
}

.App {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
}

.author {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.author:hover {
  text-decoration: none;
}

.boxes {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.box5 {
  grid-area: 2 / 1 / span 1 / span 1;
}

.box6 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.box7 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.box8 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.box13 {
  grid-area: 4 / 1 / span 1 / span 1;
}

.box14 {
  grid-area: 4 / 2 / span 1 / span 1;
}

.box15 {
  grid-area: 4 / 3 / span 1 / span 1;
}

.box16 {
  grid-area: 4 / 4 / span 1 / span 1;
}

.credit {
  color: rgb(51, 51, 51);
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 40px;
}

.diagramHolder {
  grid-column: 13 / 49;
  margin-top: 30px;
}

.diagramSubtitle {
  color: rgb(102, 102, 102);
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400
}

.diagramText {
  color: rgb(0, 0, 0);
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px
}

.diagramTitle {
  color: rgb(0, 0, 0);
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 5px;
}

.end {
  color: rgb(102, 102, 102);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.fig {
  color: #666;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-bottom: 40px;
}

.fig1 {
  grid-column: 10 / 50;
}

.fig2 {
  grid-column: 15 / 48;
}

.left {
  display: flex;
  justify-content: flex-start;
  width: 25%;
}

.left > * {
  margin: 0 10px;
  padding: 10px 10px;
}

.leftImg {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.leftImg:hover {
  background: rgb(230, 230, 230);
  border-radius: 5px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.logo {
  cursor: pointer;
  height: 31px;
  justify-self: center;
}

.main{
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.margins {
  margin: 20px 0;
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.navBar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  justify-content: space-between;
  grid-column: 1 / -1;
}

.navBar > * {
  padding: 10px;
}

.navButton {
  padding: 11px 12px 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 3px;
}

.navText {
  cursor: pointer;
}

.navText:hover {
  text-decoration: underline;
}

.relative {
  margin: 10px 0 30px 0;
  min-height: 580px;
  min-width: 950px;
  position: relative;
}

.photo {
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.pics {
  height: auto;
  width: 100%;
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.separator {
  display: inline-block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  width: 60px;
  padding: 0;
}

.smaller {
  color: #888;
  font-size: 13px;
}

.text {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  grid-column: 19 / 43;
}

.title {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  line-height: 48px;
  margin: 20px 0 5px 0;
}

.video {
  justify-self: center;
}

.weighted {
  font-weight: 700;
}

@media all and (max-width: 1000px) {
  
  .App{
    grid-template-columns: 1fr;
    padding: 0 5px;			
  }

  .diagramHolder {
    grid-column: 1 / -1;
    overflow: scroll;
  }

  .fig1 {
    grid-column: 1;
  }

  .fig2 {
    grid-column: 1;
  }

  .left {
    display: none;
  }

  .navBar {
    justify-content: center;
  }

  .right {
    display: none;
  }

  .text {
    grid-column: 1 / -1;
  }

  .title {
    text-align: center;
  }

  .video {
    max-width: 560px;
    margin: auto;
    max-width: 100%;
  }
}
